body {font-family: sans-serif;
    text-align:justify;}

.text {
    background-color: tomato;
    color: white;
    text-align: center;
}

.success {
    color: green;
}

.description{
    color: green;
}

span{
    font-size: 24px;
    font-weight: 500;
    color:black;
}
.spanClass{
    color:blue;
}
.menu > li{
    border: 1px solid tomato;
}