:root{
--pages-color: rgb(201, 201, 233); 
--height-pictures: 200px;
}
body {
    font-family: sans-serif;
    text-align:justify;
    background: var(--pages-color);
}



.list >li{
    list-style: none;
    
}

.link{
    text-decoration: none;
    
}




.text {
    background-color: tomato;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.success {
    color: green;
}

.description{
    color: green;
}

span{
    font-size: 24px;
    font-weight: 500;
    color:black;
}
.spanClass{
    color:blue;
}
.menu > li{
    border: 1px solid tomato;
}

a{
font-size: 12px;
}
a[href^="./obrazkiStrona.html"] {
    color: rgb(53, 62, 187);
    background-color: rgb(12, 243, 12);
    
}
a:hover{
    background-color: rgb(152, 160, 161);
}
.colorSection {
    background-color: rgb(1, 6, 68);
    color: white;
}
/* section:hover {
    background-color: rgb(1, 6, 68);
    color: white;
} */

/* Tabele */
.schedule-borderSeparate {
    border-collapse:separate;
}
.schedule-borderColapse {
    border-collapse:collapse;
}
.schedule-borderSeparate th,
.schedule-borderSeparate td,
.schedule-borderColapse th,
.schedule-borderColapse td {
    padding: 8px;
    border: 1px solid #212121;
}
.schedule-body > tr:hover{
    background-color: tomato;
    color:white;
    cursor: pointer;
}
.schedule-foot>tr:hover {
    background-color: rgb(15, 235, 26);
    /* color: white; */
    cursor: pointer;
}


/* Linki */
.linki-container-list{
    display: flex;
    flex-wrap: wrap;
    gap:30px 10px;
    padding: 10px;
    align-items: stretch;
        justify-content: space-evenly;
}

.linki-container-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #313131;
    gap: 0 20px;
    flex-basis: calc((100% - 2*20px) / 3);
    width: 200px;
    box-shadow: 10px 14px 16px 0px rgba(0, 0, 0, 1);
}

.linki-container-list li:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}
.linki-img{
    object-fit: cover;
    height: 300px;
    width: 300px;
}