.text{
    text-align: center;
    margin: 20px 0;
}

.header-container:last-child{
margin-bottom: 40px;
}

.nav-list-container{
    display: flex;
    justify-content:flex-start;
    gap: 0 5px;
    padding: 0 30px;
    background: blueviolet;
}

.nav-list-container a {
    display: flex;
    background: beige;
    gap: 10px;
    margin: 10px auto;
        padding: 10px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.nav-list-container a:hover {
color:black;
background: blueviolet;
    text-decoration: dashed;
}

/* section1 */
.section1{
    border: 2px solid #fd7e14;
    background-color: #eed9d9;
        background-image: url("../images/chmury.jpg");
}

.text{
    color: rgb(28, 0, 128);
}

/* section2 */
.section2.text{
    color: rgb(28, 0, 128);
}

.section2-list{
    
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 30px 10px;
}

.section2-list li{
    flex-basis: calc(100% / 4 - 10px);
    position: relative;
    height: 200px;
    background: white;
    border: 2px solid black;
    border-radius: 4px;
    background-image: url("../images/konikMaly24x24.png");
}

.section2-list li::before {
    position: absolute;
    top:-30px;
    width:100%;
    text-align: center;
    color:chartreuse;
}

.section2-list :nth-child(1) {
    background-repeat: repeat;
}

.section2-list :nth-child(1)::before {
    content: "repeat";
}

.section2-list :nth-child(2) {
    background-repeat: repeat-x;
}
.section2-list :nth-child(2)::before {
    content: "repeat-x";
}

.section2-list :nth-child(3) {   
background-repeat: repeat-y;
}

.section2-list :nth-child(3)::before {
content: "repeat-y";
}

.section2-list :nth-child(4) {
background-repeat: no-repeat;
}

.section2-list :nth-child(4)::before {
    content: "no-repeat";
}

/* section3 */
.section3-container{
margin-bottom: 50px;
}

.section3-list {
    display: flex;
    padding: 0 30px;
    gap: 0 10px;
}

.section3-list .item {
    flex-basis: calc(100% / 4 - 10px);
    position: relative;
    height: 200px;
    
    border: 2px solid black;
    border-radius: 4px;
    background-image: url("../images/balloons-sky.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
}

.section3-list .item::before {
    position: absolute;
    top: -50px;
    width: 100%;
    text-align: center;
    color: chartreuse;
}

.section3-list-item1{
    background: white;
    background-position: 50% 50%;
    
}

.section3-list-item1::before {
    content: "Wyśrodkuje obraz tła";
}

.section3-list-item2 {
    background: white;
    background-position: 10px 20px;
}

.section3-list-item2::before {
    content: "Umieści obraz tła 10px od lewej strony i 20px od góry";
}

.section3-list-item3 {
    background: white;
    background-position: right bottom;
}

.section3-list-item3::before {
    content: "Umieści obraz tła w prawym dolnym rogu";
}

.section3-list-item4 {
    background: white;
    background-position: left top;
}

.section3-list-item4::before {
    content: "Umieści obraz tła w lewym górnym rogu";
}

/* Section3 - Pozycja offsetowa (przesunięcie) */
.flex-align{
justify-content: center;
}

.section3-list .one-background {
    width: 50%;
    position: relative;
    height: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background: white;
    background-image: url("../images/balloons-sky.jpg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right 30px bottom 20px;
}

.section3-list .one-background::before {
    position: absolute;
    content: "Na przykład, jeśli chcesz umieścić tło w prawym dolnym rogu elementu o dowolnych rozmiarach tak,        aby tło pozostawało poza granicami o 30px po prawej stronie i 20px od dołu.";
    top: -50px;
    left: -50%;
    width: 200%;
    text-align: center;
    color: chartreuse;
}

/* section4 */
.section4-list {
    display: flex;
    padding: 0 30px;
    gap: 0 10px;
}

.section4-list li {
    flex-basis: calc(100% / 3 - 10px);
    position: relative;
    height: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background: white;
    background-image: url("../images/balloons-sky.jpg");
    
    background-repeat: no-repeat;
}

.section4-list li::before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    color: chartreuse;
} 

.section4-list .item1 {
    background-size:auto auto;
}

.section4-list .item1::before {
    content: "Wyjściowe wymiary obrazu, wartość domyślna (auto auto)";
}

.section4-list .item2 {
    background-size: 200px;;
}

.section4-list .item2::before {
    content: "WSzerokość 200px, wysokość będzie proporcjonalna";
}

.section4-list .item3 {
    background-size: 200px 300px;
}

.section4-list .item3::before {
    content: "Szerokość 200px, wysokość 300px";
}

/* Tabele */
.table-border{
    padding: 0 20px;
}

.table-border th,
.table-border td
{
    padding: 8px;
    border: 1px solid #5a5757;
}

.table-body>tr:hover {
    background-color: tomato;
    color: white;
    cursor: pointer;
}

.table-head>tr:hover {
    background-color: rgb(15, 235, 26);
    cursor: pointer;
}

.table-foot td:not(:first-child){
    height: 200px;
    background-image: url("../images/balloons-sky.jpg");
        background-repeat: no-repeat;
}

.table-foot td:first-child {
    -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        white-space: nowrap;
       
}
.table-contain{
    background-size: contain;
}

.table-cover{
    background-size: cover;
}

/* section5 */
.section5-text{
    margin-top:40px;
}

.section5-list{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
   
}

.section5-list li{
    width: 50%;
    background-size: cover;
    background-size: contain;
    box-shadow: 2px 2px 2px 2px rgba(247, 234, 234, 0.14);
    text-shadow: 2px 2px 8px black;
}

.section5-fixed-background{
    margin:20px 1%;
    
    background-image: url("../images/balloons-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.section5-list-background{
display: flex;
flex-direction: column;
align-items: center;
gap: 80px;
margin: 20px 0;
}

.section5-list-background li{
    width: 50%;
    height: 200px;
    
    background: yellow;
}

.section5-list-background li:nth-child(even) {
background: red;
}

.section5-list-background li:first-child {
    margin-top: 20px;
}

.section5-list-background li:last-child {
    margin-bottom: 20px;
}

.section5-layered-background{
    height: 500px;
    background-image: url("../images/konikMaly24x24.png"),url("../images/balloons-sky.jpg") ;
    background-size: 50px 50px, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 10px right 10px, bottom 0 right 0;
    margin-bottom: 20px;
}


/* section6 */
.section6-text-color{
    background-color: #0848d3;
    padding: 10px;
    margin: 0 20px;
    box-shadow: 5px 5px 5px 5px black;
}

.section6-text-color:hover {
box-shadow: 1px 1px 1px 1px black;
}

.section6-list-images{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.figure-card {
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 2 - 20px);
    background: white;
    padding: 10px;
}

.thumb{
    height: 663px;
    width: 100%;
    
border: 2px dashed #2a2a2a;
    border-radius: 4px;
}

.thumb > li{
display: block;
    height: 100%;
    width: 100%;

}



