.text{
    text-align: center;
    margin: 20px 0;
}

.header-container:last-child{
margin-bottom: 40px;
}

.nav-list-container{
    display: flex;
    justify-content:flex-start;
    gap: 0 5px;
    padding: 0 30px;
    background: blueviolet;
}

.nav-list-container a {
    display: flex;
    background: beige;
    gap: 10px;
    margin: 10px auto;
        padding: 10px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.nav-list-container a:hover {
color:black;
background: blueviolet;
    text-decoration: dashed;
}

/* section1 */
.section1{
    border: 2px solid #fd7e14;
    background-color: #eed9d9;
        background-image: url("../images/chmury.jpg");
}

.text{
    color: rgb(28, 0, 128);
}

/* section2 */
.section2.text{
    color: rgb(28, 0, 128);
}

.section2-list{
    
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 30px 10px;
}

.section2-list li{
    flex-basis: calc(100% / 4 - 10px);
    position: relative;
    height: 200px;
    background: white;
    border: 2px solid black;
    border-radius: 4px;
    background-image: url("../images/konikMaly24x24.png");
}

.section2-list li::before {
    position: absolute;
    top:-30px;
    width:100%;
    text-align: center;
    color:chartreuse;
}

.section2-list :nth-child(1) {
    background-repeat: repeat;
}

.section2-list :nth-child(1)::before {
    content: "repeat";
}

.section2-list :nth-child(2) {
    background-repeat: repeat-x;
}
.section2-list :nth-child(2)::before {
    content: "repeat-x";
}

.section2-list :nth-child(3) {   
background-repeat: repeat-y;
}

.section2-list :nth-child(3)::before {
content: "repeat-y";
}

.section2-list :nth-child(4) {
background-repeat: no-repeat;
}

.section2-list :nth-child(4)::before {
    content: "no-repeat";
}

/* section3 */
.section3-container{
margin-bottom: 50px;
}

.section3-list {
    display: flex;
    padding: 0 30px;
    gap: 0 10px;
}

.section3-list .item {
    flex-basis: calc(100% / 4 - 10px);
    position: relative;
    height: 200px;
    
    border: 2px solid black;
    border-radius: 4px;
    background-image: url("../images/balloons-sky.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
}

.section3-list .item::before {
    position: absolute;
    top: -50px;
    width: 100%;
    text-align: center;
    color: chartreuse;
}

.section3-list-item1{
    background: white;
    background-position: 50% 50%;
    
}

.section3-list-item1::before {
    content: "Wyśrodkuje obraz tła";
}

.section3-list-item2 {
    background: white;
    background-position: 10px 20px;
}

.section3-list-item2::before {
    content: "Umieści obraz tła 10px od lewej strony i 20px od góry";
}

.section3-list-item3 {
    background: white;
    background-position: right bottom;
}

.section3-list-item3::before {
    content: "Umieści obraz tła w prawym dolnym rogu";
}

.section3-list-item4 {
    background: white;
    background-position: left top;
}

.section3-list-item4::before {
    content: "Umieści obraz tła w lewym górnym rogu";
}

/* Section3 - Pozycja offsetowa (przesunięcie) */
.flex-align{
justify-content: center;
}

.section3-list .one-background {
    width: 50%;
    position: relative;
    height: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background: white;
    background-image: url("../images/balloons-sky.jpg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right 30px bottom 20px;
}

.section3-list .one-background::before {
    position: absolute;
    content: "Na przykład, jeśli chcesz umieścić tło w prawym dolnym rogu elementu o dowolnych rozmiarach tak,        aby tło pozostawało poza granicami o 30px po prawej stronie i 20px od dołu.";
    top: -50px;
    left: -50%;
    width: 200%;
    text-align: center;
    color: chartreuse;
}

/* section4 */
.section4-list {
    display: flex;
    padding: 0 30px;
    gap: 0 10px;
}

.section4-list li {
    flex-basis: calc(100% / 3 - 10px);
    position: relative;
    height: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background: white;
    background-image: url("../images/balloons-sky.jpg");
    
    background-repeat: no-repeat;
}

.section4-list li::before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    color: chartreuse;
} 

.section4-list .item1 {
    background-size:auto auto;
}

.section4-list .item1::before {
    content: "Wyjściowe wymiary obrazu, wartość domyślna (auto auto)";
}

.section4-list .item2 {
    background-size: 200px;;
}

.section4-list .item2::before {
    content: "WSzerokość 200px, wysokość będzie proporcjonalna";
}

.section4-list .item3 {
    background-size: 200px 300px;
}

.section4-list .item3::before {
    content: "Szerokość 200px, wysokość 300px";
}

/* Tabele */
.table-border{
    padding: 0 20px;
}

.table-border th,
.table-border td
{
    padding: 8px;
    border: 1px solid #5a5757;
}

.table-body>tr:hover {
    background-color: tomato;
    color: white;
    cursor: pointer;
}

.table-head>tr:hover {
    background-color: rgb(15, 235, 26);
    cursor: pointer;
}

.table-foot td:not(:first-child){
    height: 200px;
    background-image: url("../images/balloons-sky.jpg");
        background-repeat: no-repeat;
}

.table-foot td:first-child {
    -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        white-space: nowrap;
       
}
.table-contain{
    background-size: contain;
}

.table-cover{
    background-size: cover;
}

/* section5 */
.section5-text{
    margin-top:40px;
}

.section5-list{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
   
}

.section5-list li{
    width: 50%;
    background-size: cover;
    background-size: contain;
    box-shadow: 2px 2px 2px 2px rgba(247, 234, 234, 0.14);
    text-shadow: 2px 2px 8px black;
}

.section5-fixed-background{
    margin:20px 1%;
    
    background-image: url("../images/balloons-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.section5-list-background{
display: flex;
flex-direction: column;
align-items: center;
gap: 80px;
margin: 20px 0;
}

.section5-list-background li{
    width: 50%;
    height: 200px;
    
    background: yellow;
}

.section5-list-background li:nth-child(even) {
background: red;
}

.section5-list-background li:first-child {
    margin-top: 20px;
}

.section5-list-background li:last-child {
    margin-bottom: 20px;
}

.section5-layered-background{
    height: 500px;
    background-image: url("../images/konikMaly24x24.png"),url("../images/balloons-sky.jpg") ;
    background-size: 50px 50px, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 10px right 10px, bottom 0 right 0;
    margin-bottom: 20px;
}


/* section6 */
.section6{
    margin-bottom: 20px;
}
.section6-text-color{
    background-color: #0848d3;
    padding: 10px;
    margin: 0 20px;
    box-shadow: 5px 5px 5px 5px black;
}

.section6-text-color:hover {
box-shadow: 1px 1px 1px 1px black;
}

.section6-list-images{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.figure-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 20px;
    flex-basis: calc(100% / 2 - 20px);
    background: white;
    padding: 0;
}

.thumb-original {
    height: 643px;
    width: 100%;
    border: 2px dashed #2a2a2a;
    border-radius: 4px;
}
.thumb{
    height: 320px;
    width: 300px;
    
border: 2px dashed #2a2a2a;
    border-radius: 4px;
    
}

.thumb > li{
display: flex;
    height: 100%;
    width: 100%;

}

.thumb > img {
    display: block;
    height: 100%;
    width: 100%;
}




.img-fill{
    object-fit: fill
}

.img-contain{
object-fit: contain
}

.img-cover{
object-fit: cover
}

.img-scale-down{
object-fit: scale-down;
}

.img-none{
    object-fit: none;
}

/* section7 */



/* section8 */
.section8-box{
    margin: 20px;
}

.section8-box::before {
    content: 'To jest tekst w ::before';
    font-size: 40px;
    color: orange;
}

.section8-box::after {
    content: 'To jest tekst w ::after';
    font-size: 30px;
    color: teal;
}

.section8-box:hover::before {
    color: green;
}

/* Zastosuj style do pseudoelementu .box::after podczas najechania kursorem na element .box */
.section8-box:hover::after {
    color: tomato;
}

.section8-box:hover {
    color: white;
}

/* section10 */
/* .section10-list-item:not(:last-child) {
    margin-bottom: 5px;
} */

.section10-list-link {
    display: flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    font-size: 32px;
}

.section10-list-link:hover {
    color: #2196f3;
}

.section10-list-link::before,
.section10-list-link::after {
    content: "";
    width: 24px;
    height: 24px;
    background-size: contain;
}

/* Adds and hides eyes icon after the link text */
.section10-list-link::after {
    display: none;
    margin-left: 16px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/599/599516.png")
}

/* Show arrow icon on hover */
.section10-list-link:hover::after {
    display: flex;
}

/* section11 */
.section11-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 20px;
    flex-basis: calc(100%/ 2 - 20px);
    margin: 20px auto;
}

.section11-container-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 300px;
background-color: #9e9e9e;
color:aqua;
font-size: 24px;
box-shadow: 15px -10px 10px 0px rgba(56, 74, 225, 1);
/* line-height: 200px; */
}

.section11-box1{
    background-image: linear-gradient(to bottom, blue, red);
}

.section11-box2 {
    background-image: linear-gradient(to top, blue, red);
}

.section11-box3 {
    background-image: linear-gradient(to right, blue, red);
}

.section11-box4 {
    background-image: linear-gradient(to top left, blue, red);
}

.section11-box5 {
    background-image: linear-gradient(20deg, blue, red);
}

.section11-box6 {
    background-image: linear-gradient(-30deg, blue, red);
}

/* section12 */
.section12-container{
display: flex;
align-items: center;
justify-content: center;
margin: 20px 10%;
gap: 20px;
    flex-basis: calc(100%/ 2 - 20px);
}

.section12-item{
    width: 80%;
    height: 300px;
    background: #2a2a2a;
    background-image: linear-gradient(to right,
                #f44336 15%,
                #09792b 40%,
                #00b9ff 65%,
                #ffb800);
}

.section12-item-continuous-gradient-good {
    width: 80%;
        height: 300px;
        background: #2a2a2a;
        background-image: linear-gradient(to right,
                    #c64f4f 15%,
                    #09792b 15%,
                    #09792b 40%,
                    #00b9ff 40%,
                    #00b9ff 65%,
                    #ffb800 65%);
}

.section12-item-continuous-gradient-bad {
    width: 80%;
        height:  300px;
        background: #2a2a2a;
        background-image: linear-gradient(to top,
                    #c64f4f 15%,
                    #09792b 15%,
                    #09792b 40%,
                    #00b9ff 40%,
                    #00b9ff 65%,
                    #ffb800 65%);
}

/* section13 */
.section14-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    gap: 20px;
    
    margin: 2%;
}

.section14-container-items {
    display: flex;
    width: 40%;
    height: 40%;
    background-color: #9e9e9e;
    align-items: center;
    justify-content: center;   
}

.section14-radial-gradient1{
background-image: radial-gradient(at center,
            #ffeb3b 10%,
            #ff5722 50%);
}

.section14-radial-gradient2 {
    background-image: radial-gradient(circle at center,
            #ffeb3b 10%,
            #ff5722 50%);
}

.section14-radial-gradient3 {
    background-image: radial-gradient(circle at top right,
            #ffeb3b 10%,
            #ff5722 50%);
}

.section14-radial-gradient4 {
    background-image: radial-gradient(circle at bottom left,
            #ffeb3b 10%,
            #ff5722 50%);
}

.section14-radial-gradient-color-separate1 {
    background-image: radial-gradient(ellipse at center,
                #f44336 15%,
                #09792b 15%,
                #09792b 40%,
                #00b9ff 40%,
                #00b9ff 65%,
                #ffb800 65%);
}

.section14-radial-gradient-color-separate2 {
    background-image: radial-gradient(circle at center,
                #f44336 15%,
                #09792b 15%,
                #09792b 40%,
                #00b9ff 40%,
                #00b9ff 65%,
                #ffb800 65%);
}

.section14-radial-gradient-color-separate3 {
    background-image: radial-gradient(circle at top right,
                #f44336 15%,
                #09792b 15%,
                #09792b 40%,
                #00b9ff 40%,
                #00b9ff 65%,
                #ffb800 65%);
}

.section14-radial-gradient-color-separate4 {
    background-image: radial-gradient(circle at bottom right,
                #f44336 15%,
                #09792b 15%,
                #09792b 40%,
                #00b9ff 40%,
                #00b9ff 65%,
                #ffb800 65%);
}

/* section15 */
.section15-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 1% 20px 1%;
    justify-content: center;
}

.section15-container-items{
    display: flex;
    width: 30%;
    height: 200px;
    flex-basis: calc(100%/2 - 20px);
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    color: #020101;
    box-shadow: 12px 12px 2px 1px rgba(10, 10, 10, 0.2);
    
}

.section15-container-items:hover{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 1);
}

.section15-container-items:nth-child(1) {
background-image: repeating-linear-gradient(to right,
            #ff8a00,
            #ff8a00 20px,
            #e52e71 20px,
            #e52e71 40px);

}

.section15-container-items:nth-child(2) {
    background-image: repeating-linear-gradient(to bottom,
            #ff8a00,
            #ff8a00 20px,
            #e52e71 20px,
            #e52e71 40px);

}

.section15-container-items:nth-child(3) {
    background-image: repeating-linear-gradient(to top right,
            #ff8a00,
            #ff8a00 20px,
            #e52e71 20px,
            #e52e71 40px);

}

.section15-container-items:nth-child(4) {
    background-image: repeating-linear-gradient(to bottom right,
            #ff8a00,
            #ff8a00 20px,
            #e52e71 20px,
            #e52e71 40px);
}

/* section16 */
.section16-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 1% 20px 1%;
    justify-content: center;
    
}

.section16-container-items {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
    flex-basis: calc(100%/2 - 20px);
    color: #020101;
    box-shadow: 12px 12px 2px 1px rgba(10, 10, 10, 0.2);
    border-radius: 15px;
}

.section16-h6{
    padding-top: 2%;
    color: #eed9d9;
    text-transform: uppercase;
    text-align: center;
    height: 20%;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.section16-p{
    background: white;
    height: 80%;
    padding: 2%;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.section16-h2-background-first {
background-image: repeating-linear-gradient(
            -45deg,
                #606dbc,
                #606dbc 10px,
                #465298 10px,
                #465298 20px);
}

.section16-h2-background-first {
    background-image: repeating-linear-gradient(-45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px);
}

.section16-h2-background-second {
    background-image: repeating-linear-gradient(to right,
        #f6ba52,
        #f6ba52 10px,
        #ffd180 10px,
        #ffd180 20px);
}

.section16-h2-background-third {
    background-image: repeating-radial-gradient(circle,
        purple,
        purple 10px,
        #4b026f 10px,
        #4b026f 20px);
}

.section16-h2-background-fourth {
    background-image: repeating-radial-gradient(circle,
        green 9%,
            lime 10%);
}

/* section17 */
.section17-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    
    justify-content: center;
}

.section17-container-items{
    display: flex;
align-items: center;
justify-content: center;
    width: 400px;
    height: 400px;

    background: #020101;
    border-radius: 50%;
}

.section17-container-items:nth-child(1)
{    
    background: conic-gradient(gold 40%, #f06 0);
    border-radius: 50%;
}

.section17-container-items:nth-child(1):hover{
    background: conic-gradient(gold 60%, #f06 0);
}

.section17-container-items:nth-child(2) {
    background: conic-gradient(white 20%, black 0);
    border-radius: 50%;
    color: yellow;
}

.section17-container-items:nth-child(3) {
    background: conic-gradient(rgb(30, 175, 17) 50%, rgba(30, 175, 17, 0.719) 0);
    border-radius: 50%;
}

.section17-container-items:nth-child(4) {
    background: conic-gradient(rgb(183, 0, 255) 70%, rgba(206, 68, 123, 0.459) 0);
    border-radius: 50%;
}