.text {
    color: #fff;
    font-size: 18px;
    padding: 20px 20px 40px;
}

span {
    color: #fff;
}

.unnumbered-list-container {
    list-style: square inside none;
}

.numbered-list-container {
    margin: 20px;
    list-style: decimal inside none;
}

.nav-list-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0 5px;
    padding: 10px 30px 20px;
}

.nav-list-container a {
    display: flex;
    background: beige;
    gap: 10px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.nav-list-container a:hover {
    color: black;
    background: #6d0ee9;

}

.body-container {
    width: 1250px;
    margin: 0 auto;
}

.nav-container {
    background: #6d0ee9;
}

.main-container {
    width: 1250px;
    background-image: linear-gradient(to bottom, #6d0ee9, #301212);
    background-size: 1250px;
    min-height: 50vh;
}

/* section4 */
.section4-container{
    display: flex;
    justify-content: center;
    gap:10px;
}

.section4-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.section4-button {
    display: inline-flex;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
}

.section4-button:hover,
.section4-button:focus {
    background-color: #1976d2;
}

/* section5 */
.section5-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* section6 */
.section6-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.section6-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.section6-button {
    display: inline-flex;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
}

.section6-button:hover,
.section6-button:focus {
    background-color: #1976d2;
}

/* section7 */
.section7-container{
    display: flex;
    justify-content: center;
}
.section7-btn {
    display: inline-flex;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    background-color: cyan;
    color: black;
    cursor: pointer;
}

.section7-btn:hover,
.section7-btn:focus {
    background-color: orange;
}

.section7-btn:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

/* section9 */
.section9-container {
    display: flex;
    justify-content: center;
}

.section9-form-input:checked {
    outline: 2px solid #2196f3;
    outline-offset: 2px;
}

/* Selecting .form-label when the checkbox preceding it in markup is checked */
.section9-form-input:checked+.form-label {
    color: #2196f3;
}

.section9-form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.section9-form-caption {
    margin: 0;
    font-weight: 700;
}

.section9-form-field {
    display: flex;
    align-items: center;
    gap: 4px;
}

.section9-form-label {
    cursor: pointer;
}

/* section10 */
.section10-container {
    display: flex;
    justify-content: center;
}

.section10-form-input:in-range {
    border-color: #4caf50;
}

.section10-form-input:out-of-range {
    border-color: #f44336;
}

.section10-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.section10-form-label {
    margin-bottom: 8px;
    cursor: pointer;
}

.section10-form-input {
    padding: 8px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 16px;
    outline: none;
}

.section10-button {
    display: inline-flex;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
}

.section10-button:hover,
.section10-button:focus {
    background-color: #1976d2;
}

/* section11 */
.section11-container {
    display: flex;
    justify-content: center;
}

.section11-form-input:required {
    border-color: #f44336;
}

.section11-form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.section11-label-text {
    margin-bottom: 4px;
}

.section11-form-input {
    padding: 8px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    outline: none;
}

.section11-button {
    display: inline-flex;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
}

.section11-button:hover,
.section11-button:focus {
    background-color: #1976d2;
}

/* section12 */
.section12-container {
    display: flex;
    justify-content: center;
}

.section12-form-input:valid {
    border-color: #4caf50;
}

.section12-form-input:invalid {
    border-color: #f44336;
}

.section12-form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.section12-label-text {
    margin-bottom: 4px;
}

.section12-form-input {
    padding: 8px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    outline: none;
}

.section12-button {
    display: inline-flex;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
}

.section12-button:hover,
.section12-button:focus {
    background-color: #1976d2;
}

/* section13 */
.section13-container {
    display: flex;
    justify-content: center;
}

.section13-form-input {
    padding: 8px;
    border: 1px solid orange;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    outline: none;
}

.section13-form-input:placeholder-shown {
    border-color: blue;
}

.section13-form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.section13-label-text {
    margin-bottom: 4px;
}

.section13-form-input::placeholder {
    color: #9e9e9e;
}

.section13-button {
    display: inline-flex;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
}

.section13-button:hover,
.section13-button:focus {
    background-color: #1976d2;
}

/* section14 */
.section14-container {
    display: flex;
    justify-content: center;
}

.section14-form-input:not(:placeholder-shown):required:valid {
    border-color: green;
}

.section14-form-input:not(:placeholder-shown):required:invalid {
    border-color: red;
}

.section14-form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.section14-label-text {
    margin-bottom: 4px;
}

.section14-form-input {
    padding: 8px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    outline: none;
}

.section14-form-input::placeholder {
    color: #9e9e9e;
}

.section14-button {
    display: inline-flex;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
}

.section14-button:hover,
.section14-button:focus {
    background-color: #1976d2;
}

/* section15 */
.section15-container {
    display: flex;
    justify-content: center;
}

.section15-form:focus-within {
    border-color: #2196f3;
}

.section15-form-label:focus-within {
    color: #e221f3;
}

.section15-form {
    padding: 24px;
    border-radius: 4px;
    border: 2px dashed #2a2a2a;
}

.section15-form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.section15-label-text {
    margin-bottom: 4px;
}

.section15-form-input {
    padding: 8px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    outline: none;
}

.section15-button {
    display: inline-flex;
    padding: 12px 32px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
}

.section15-button:hover,
.section15-button:focus {
    background-color: #1976d2;
}