.text {
    color: #fff;
    font-size: 18px;
    padding: 20px 20px 40px;
    /* margin-bottom: 20px; */
}

span {
    color: #fff;
}

.unnumbered-list-container {
    list-style: square inside none;
}

.numbered-list-container {
    margin: 20px;
    
    list-style: decimal inside none;
}

.nav-list-container {
    display: flex;
    justify-content: center;
    gap: 0 5px;
    padding: 10px 30px 20px;
    background: #16d416;
}

.nav-list-container a {
    display: flex;
    background: beige;
    gap: 10px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.nav-list-container a:hover {
    color: black;
    /* background: #0004ff; */
    background: #16d416;
    text-decoration: dashed;
}

.body-container{
    width: 1250px;
    margin: 0 auto;

}

.main-container {
    background-image: linear-gradient(to bottom, #16d416, #301212);
}



/* section1 */
.section1-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.section1-container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
    background-color: red;
}
.section1-container-box:nth-child(1):hover,
.section1-container-box:nth-child(2):hover,
.section1-container-box:nth-child(3):hover,
.section1-container-box:nth-child(4):hover
 {
    color: white;
    background-color: teal;
    transform: rotate(180deg);
}

.section1-container-box:nth-child(1) {
background-color: red;
}

.section1-container-box:nth-child(2) {
    background-color: blue;
}

.section1-container-box:nth-child(3) {
    background-color: yellow;
}

.section1-container-box:nth-child(4) {
    background-color: white;
}

/* section2 */
.section2-container {
    display: flex;
    
    gap: 10px;
    justify-content: space-around;
}

.section2-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 1500ms;
    transition-timing-function: linear;
    transition-delay: 0;
    background-color: red;
    overflow:hidden;
}

.section2-container-box:nth-child(1):hover {
    background-color: teal;
}

/* section3 */
.section3-container {
    display: flex;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    border: 2px dashed #f0e3e3;
    
    margin-right: 30px;
    margin-left: 30px;
}

.section3-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    transition-property: transform;
    transition-duration: 1500ms;
    transition-timing-function: linear;
    transition-delay: 0;
    background-color: red;
    overflow: hidden;
}

.section3-container:hover .section3-container-box {
    transform: scale(1.5);
}

.section3-container-box:nth-child(1) {
    background-color: orange;
    transition-duration: 500ms;
}

.section3-container-box:nth-child(2) {
    background-color: #03a9f4;
    transition-duration: 1500ms;
}

.section3-container-box:nth-child(3) {
    background-color: palevioletred;
    transition-duration: 3000ms;
}

/* section4 */
.section4-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border: 2px dashed #f0e3e3;
    margin-right: 30px;
    margin-left: 30px;
    color: white
}

.section4-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translatex(0);
    transition-property: transform;
    transition-duration: 2000ms;
}

.section4-container:hover .section4-container-box {
    transform: translatex(calc(100vw - 150px));
}

.section4-container-box:nth-child(1) {
    background-color: #f44336;
    transition-timing-function: linear;
}

.section4-container-box:nth-child(2) {
    background-color: #3f51b5;
    transition-timing-function: ease;
}

.section4-container-box:nth-child(3) {
    background-color: #00bcd4;
    transition-timing-function: ease-in;
}

.section4-container-box:nth-child(4) {
    background-color: #4caf50;
    transition-timing-function: ease-out;
}

.section4-container-box:nth-child(5) {
    background-color: #ffeb3b;
    transition-timing-function: ease-in-out;
}

.section4-container-box:nth-child(6) {
    background-color: #e91e63;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

/* section5 */
.section5-container {
    display: flex;
    align-items:center;
    justify-content: center;
    border: 2px dashed #f0e3e3;
    padding: 20px 0;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    color: white
}

.section5-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #16d416;
    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    /*  We set the transition delay to half a second.  */
    transition-delay: 500ms;
}

.section5-container-box:hover {
    background-color: teal;
    transform: rotate(180deg);
}

/* section6 */
.section6-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #f0e3e3;
    padding: 20px 0;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    color: white
}

.section6-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #16d416;
    /*  We set the transition values.  */
    transition: background-color 500ms linear, transform 500ms ease-in-out;
}

.section6-container-box:hover {
    background-color: teal;
    transform: rotate(180deg);
}

/* section7 */
.section7-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #f0e3e3;
    padding: 20px 0;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    color: white
}

.section7-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #16d416;
    /*  We set the transition values.  */
    transition: background-color 1500ms linear, transform 1500ms ease-in-out 1500ms;
}

.section7-container-box:hover {
    background-color: red;
    transform: rotate(180deg);
}

/* section8 */
.section8-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #f0e3e3;
    padding: 20px 0;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

.section8-container-img {
    transition: width 2s, height 2s, transform 2s;
}

.section8-container-img:hover {
    width: 80%;
    height: 80%;
}

.section8-container-animating-width{
    display: flex;
}

.section8-box {
    
    position: relative;
    width: 350px;
    height: 142px;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
}

.section8-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    transform: translatey(100%);
    transition: transform 500ms ease-in-out;
}

.section8-box:hover .section8-overlay {
    transform: translatey(0);
}

.section8-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.section8-overlay p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 16px;
}

/* section9 */
.section9-container-img{
    width: 50%;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
}

/* section10 */
.section10-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

@keyframes changeBgColor {
    0% {
        background-color: teal;
    }

    50% {
        background-color: orange;
    }

    100% {
        background-color: deepskyblue;
    }
}
.section10-box{
    width: 300px;
    height: 300px;
    border: 1px solid white;
}

.section10-box:hover{
    animation-name: changeBgColor;
    animation-duration: 3000ms;
}

/* section12 */
.section12-container{
    display: flex;
    justify-content: center;
    align-items: center;
        padding-top: 20px;
}

.section12-container-box{
    width: 300px;
    height: 300px;
    border: 1px solid white;
}

.section12-container-box:hover {
    animation-name: changeBgColor;
    animation-duration: 3000ms;
}

/* section13 */
.section13-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.section13-container-box {
    width: 300px;
    height: 300px;
    border: 1px solid white;
}

.section13-container-box:hover {
    animation-name: changeBgColor;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-delay: 1000ms;
}

/* section14 */
.section14-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.section14-container-box {
    width: 300px;
    height: 300px;
    border: 1px solid white;
}

.section14-container-box:hover {
    animation-name: changeBgColor;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

.section14-container-sun {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.section14-fixed-sun {
    position: fixed;
    right: 50px;
    bottom: 30px;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
}

.section14-fixed-sun:hover {
    animation-play-state: paused;
}
/* section15 */
.section15-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.section15-container-sun {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section15-container-animation-direction{
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 12px;
    border: 2px solid white;
}

.section15-container-animation-direction-box {
    width: 150px;
    padding: 4px 8px;
    border: 2px solid #212121;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.section15-container-animation-direction-box:nth-child(1) {
    animation-direction: normal;
    background-color: #3f51b5;
}

.section15-container-animation-direction-box:nth-child(2) {
    animation-direction: reverse;
    background-color: #f57c00;
}

.section15-container-animation-direction-box:nth-child(3) {
    animation-direction: alternate;
    background-color: #009688;
}

.section15-container-animation-direction-box:nth-child(4) {
    animation-direction: alternate-reverse;
    background-color: #e91e63;
}

@keyframes move {
    0% {
        transform: translatex(0);
    }

    100% {
        transform: translatex(calc(100vw - 450px ));
        
    }
}

/* section16 */
.section16-container{
    display: flex;
    justify-content: center;
        align-items: center;
        gap: 15px;
}
.section16-container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    flex-shrink: 0;
}

.section16-container-pre {
    gap: 15px;
flex-shrink: 1;
}
.section16-box{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5vh;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.section16-box:hover {
    animation-name: section16-changeBgColor;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.section16-box:nth-child(1) {
    /* Default value  */
    animation-fill-mode: none;
}

.section16-box:nth-child(2) {
    animation-fill-mode: forwards;
}

.section16-box:nth-child(3) {
    animation-fill-mode: backwards;
}

.section16-box:nth-child(4) {
    animation-fill-mode: both;
}

@keyframes section16-changeBgColor {
    0% {
        background-color: teal;
    }

    50% {
        background-color: orange;
    }

    100% {
        background-color: deepskyblue;
    }
}

/* section17 */
.section17-container{
    display: flex;
    justify-content: center;
}

.section17-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    font-size: 12px;
    animation-name: section17-changeBgColor;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.section17-box:hover {
    animation-play-state: paused;
}

@keyframes section17-changeBgColor {
    0% {
        background-color: deeppink;
    }

    50% {
        background-color: orange;
    }

    100% {
        background-color: deepskyblue;
    }
}

/* section18 */
.section18-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px 0;
}

.section18-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 2px solid white;
    font-size: 12px;
    overflow: auto;
}

.section18-box:nth-child(1)
{
    animation: section16-changeBgColor 2s infinite;
}

.section18-box:nth-child(2) {
    animation: section16-changeBgColor 2s 0.5s ease-in-out;;
}

.section18-box:nth-child(3) {
    animation: section16-changeBgColor 2s ease-in-out 0.5s forwards;;
}
.section18-box:nth-child(4) {
    animation: section16-changeBgColor 2s forwards infinite ease-out 0.5s;;
}
@keyframes section18-changecolor{
    0% {
            background-color: deeppink;
        }
    
        50% {
            background-color: orange;
        }
    
        100% {
            background-color: deepskyblue;
        }
}