.text {
    color: #fff;
    font-size: 18px;
    padding: 20px 20px 40px;
    /* margin-bottom: 20px; */
}

span {
    color: #fff;
}

.unnumbered-list-container {
    list-style: square inside none;
}

.numbered-list-container {
    margin: 20px;
    
    list-style: decimal inside none;
}

.nav-list-container {
    display: flex;
    justify-content: center;
    gap: 0 5px;
    padding: 10px 30px 20px;
    background: #16d416;
}

.nav-list-container a {
    display: flex;
    background: beige;
    gap: 10px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.nav-list-container a:hover {
    color: black;
    /* background: #0004ff; */
    background: #16d416;
    text-decoration: dashed;
}

.body-container{
    width: 1250px;
    margin: 0 auto;

}

.main-container {
    background-image: linear-gradient(to bottom, #16d416, #301212);
}



/* section1 */
.section1-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.section1-container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
    background-color: red;
}
.section1-container-box:nth-child(1):hover,
.section1-container-box:nth-child(2):hover,
.section1-container-box:nth-child(3):hover,
.section1-container-box:nth-child(4):hover
 {
    color: white;
    background-color: teal;
    transform: rotate(180deg);
}

.section1-container-box:nth-child(1) {
background-color: red;
}

.section1-container-box:nth-child(2) {
    background-color: blue;
}

.section1-container-box:nth-child(3) {
    background-color: yellow;
}

.section1-container-box:nth-child(4) {
    background-color: white;
}

/* section2 */
.section2-container {
    display: flex;
    
    gap: 10px;
    justify-content: space-around;
}

.section2-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 1500ms;
    transition-timing-function: linear;
    transition-delay: 0;
    background-color: red;
    overflow:hidden;
}

.section2-container-box:nth-child(1):hover {
    background-color: teal;
}

/* section3 */
.section3-container {
    display: flex;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    border: 2px dashed #f0e3e3;
    
    margin-right: 30px;
    margin-left: 30px;
}

.section3-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    transition-property: transform;
    transition-duration: 1500ms;
    transition-timing-function: linear;
    transition-delay: 0;
    background-color: red;
    overflow: hidden;
}

.section3-container:hover .section3-container-box {
    transform: scale(1.5);
}

.section3-container-box:nth-child(1) {
    background-color: orange;
    transition-duration: 500ms;
}

.section3-container-box:nth-child(2) {
    background-color: #03a9f4;
    transition-duration: 1500ms;
}

.section3-container-box:nth-child(3) {
    background-color: palevioletred;
    transition-duration: 3000ms;
}

/* section4 */
.section4-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border: 2px dashed #f0e3e3;
    margin-right: 30px;
    margin-left: 30px;
    color: white
}

.section4-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translatex(0);
    transition-property: transform;
    transition-duration: 2000ms;
}

.section4-container:hover .section4-container-box {
    transform: translatex(calc(100vw - 150px));
}

.section4-container-box:nth-child(1) {
    background-color: #f44336;
    transition-timing-function: linear;
}

.section4-container-box:nth-child(2) {
    background-color: #3f51b5;
    transition-timing-function: ease;
}

.section4-container-box:nth-child(3) {
    background-color: #00bcd4;
    transition-timing-function: ease-in;
}

.section4-container-box:nth-child(4) {
    background-color: #4caf50;
    transition-timing-function: ease-out;
}

.section4-container-box:nth-child(5) {
    background-color: #ffeb3b;
    transition-timing-function: ease-in-out;
}

.section4-container-box:nth-child(6) {
    background-color: #e91e63;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

/* section5 */
.section5-container {
    display: flex;
    align-items:center;
    justify-content: center;
    border: 2px dashed #f0e3e3;
    padding: 20px 0;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    color: white
}

.section5-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #16d416;
    transition-property: background-color, transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    /*  We set the transition delay to half a second.  */
    transition-delay: 500ms;
}

.section5-container-box:hover {
    background-color: teal;
    transform: rotate(180deg);
}

/* section6 */
.section6-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #f0e3e3;
    padding: 20px 0;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    color: white
}

.section6-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #16d416;
    /*  We set the transition values.  */
    transition: background-color 500ms linear, transform 500ms ease-in-out;
}

.section6-container-box:hover {
    background-color: teal;
    transform: rotate(180deg);
}

/* section7 */
.section7-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #f0e3e3;
    padding: 20px 0;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
    color: white
}

.section7-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #16d416;
    /*  We set the transition values.  */
    transition: background-color 1500ms linear, transform 1500ms ease-in-out 1500ms;
}

.section7-container-box:hover {
    background-color: red;
    transform: rotate(180deg);
}

/* section8 */
.section8-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #f0e3e3;
    padding: 20px 0;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

.section8-container-img {
    transition: width 2s, height 2s, transform 2s;
}

.section8-container-img:hover {
    width: 80%;
    height: 80%;
}

.section8-container-animating-width{
    display: flex;
}

.section8-box {
    
    position: relative;
    width: 350px;
    height: 142px;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
}

.section8-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    transform: translatey(100%);
    transition: transform 500ms ease-in-out;
}

.section8-box:hover .section8-overlay {
    transform: translatey(0);
}

.section8-img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.section8-overlay p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 16px;
}

/* section9 */
.section9-container-img{
    width: 50%;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
}

/* section10 */
.section10-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

@keyframes changeBgColor {
    0% {
        background-color: teal;
    }

    50% {
        background-color: orange;
    }

    100% {
        background-color: deepskyblue;
    }
}
.section10-box{
    width: 300px;
    height: 300px;
    border: 1px solid white;
}

.section10-box:hover{
    animation-name: changeBgColor;
    animation-duration: 3000ms;
}

/* section12 */
.section12-container{
    display: flex;
    justify-content: center;
    align-items: center;
        padding-top: 20px;
}

.section12-container-box{
    width: 300px;
    height: 300px;
    border: 1px solid white;
}

.section12-container-box:hover {
    animation-name: changeBgColor;
    animation-duration: 3000ms;
}

/* section13 */
.section13-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.section13-container-box {
    width: 300px;
    height: 300px;
    border: 1px solid white;
}

.section13-container-box:hover {
    animation-name: changeBgColor;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-delay: 1000ms;
}

/* section14 */
.section14-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.section14-container-box {
    width: 300px;
    height: 300px;
    border: 1px solid white;
}

.section14-container-box:hover {
    animation-name: changeBgColor;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

.section14-container-sun {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.section14-fixed-sun {
    position: fixed;
    right: 50px;
    bottom: 30px;
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
}

.section14-fixed-sun:hover {
    animation-play-state: paused;
}
/* section15 */
.section15-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.section15-container-sun {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section15-container-animation-direction{
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 12px;
    border: 2px solid white;
}

.section15-container-animation-direction-box {
    width: 150px;
    padding: 4px 8px;
    border: 2px solid #212121;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.section15-container-animation-direction-box:nth-child(1) {
    animation-direction: normal;
    background-color: #3f51b5;
}

.section15-container-animation-direction-box:nth-child(2) {
    animation-direction: reverse;
    background-color: #f57c00;
}

.section15-container-animation-direction-box:nth-child(3) {
    animation-direction: alternate;
    background-color: #009688;
}

.section15-container-animation-direction-box:nth-child(4) {
    animation-direction: alternate-reverse;
    background-color: #e91e63;
}

@keyframes move {
    0% {
        transform: translatex(0);
    }

    100% {
        transform: translatex(calc(100vw - 450px ));
        
    }
}

/* section16 */
.section16-container{
    display: flex;
    justify-content: center;
        align-items: center;
        gap: 15px;
}
.section16-container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    flex-shrink: 0;
}

.section16-container-pre {
    gap: 15px;
flex-shrink: 1;
}
.section16-box{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5vh;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.section16-box:hover {
    animation-name: section16-changeBgColor;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.section16-box:nth-child(1) {
    /* Default value  */
    animation-fill-mode: none;
}

.section16-box:nth-child(2) {
    animation-fill-mode: forwards;
}

.section16-box:nth-child(3) {
    animation-fill-mode: backwards;
}

.section16-box:nth-child(4) {
    animation-fill-mode: both;
}

@keyframes section16-changeBgColor {
    0% {
        background-color: teal;
    }

    50% {
        background-color: orange;
    }

    100% {
        background-color: deepskyblue;
    }
}

/* section17 */
.section17-container{
    display: flex;
    justify-content: center;
}

.section17-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    font-size: 12px;
    animation-name: section17-changeBgColor;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.section17-box:hover {
    animation-play-state: paused;
}

@keyframes section17-changeBgColor {
    0% {
        background-color: deeppink;
    }

    50% {
        background-color: orange;
    }

    100% {
        background-color: deepskyblue;
    }
}

/* section18 */
.section18-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px 0;
}

.section18-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 2px solid white;
    font-size: 12px;
    overflow: auto;
}

.section18-box:nth-child(1)
{
    animation: section16-changeBgColor 2s infinite;
}

.section18-box:nth-child(2) {
    animation: section16-changeBgColor 2s 0.5s ease-in-out;;
}

.section18-box:nth-child(3) {
    animation: section16-changeBgColor 2s ease-in-out 0.5s forwards;;
}
.section18-box:nth-child(4) {
    animation: section16-changeBgColor 2s forwards infinite ease-out 0.5s;;
}
@keyframes section18-changecolor{
    0% {
            background-color: deeppink;
        }
    
        50% {
            background-color: orange;
        }
    
        100% {
            background-color: deepskyblue;
        }
}

/* section19 */
.section19-container-img{
    width:400px;
    margin: 0 auto;
}

.section19-container-perspective {
    display: flex;
    justify-content:space-evenly;
}
.section19-scene-perspective {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section19-scene-perspective:nth-child(n+3) {
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.section19-box-perspective {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    /*   transition: transform 0.5s ease-in-out; */
}
.section19-picture-perspective {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        color: white;
        font-size: 20px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        object-fit: stretch;
    /*   transition: transform 0.5s ease-in-out; */
}

.section19-box-perspective.rotate-x {
    /*   transform: rotateX(60deg); */
    animation: rotateX 1500ms infinite alternate ease-in-out 1000ms;
}

.section19-box-perspective.rotate-y {
    /*   transform: rotateY(60deg); */
    animation: rotateY 1500ms infinite  alternate ease-in-out 2000ms;
}

.section19-picture-perspective.rotate-x {
    /*   transform: rotateX(60deg); */
    animation: rotateX 1500ms infinite alternate ease-in-out 3000ms;
}

.section19-picture-perspective.rotate-y {
    /*   transform: rotateY(60deg); */
    animation: rotateY 1500ms infinite alternate ease-in-out 4000ms;
}

.section19-box-perspective.rotate-x {
    background-color: tomato;
}


.section19-box-perspective.rotate-y {
    background-color: blue;
}

.section19-scene-perspective+.section19-scene-perspective {
    margin-left: 50px;
}



@keyframes rotateX {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(60deg);
    }
}

@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(60deg);
    }
}

/* section20 */
.section20-container-perspective {
    display: flex;
    justify-content: space-evenly;
}

.section20-scene-perspective {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section20-scene-perspective:nth-child(n+3) {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.section20-box-perspective {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    /*   transition: transform 0.5s ease-in-out; */
}

.section20-picture-perspective {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    object-fit: stretch;
    /*   transition: transform 0.5s ease-in-out; */
}

.section20-box-perspective.rotate-x {
    /*   transform: rotateX(60deg); */
    animation: rotateXperspective 1500ms infinite alternate ease-in-out 1000ms;
}

.section20-box-perspective.rotate-y {
    /*   transform: rotateY(60deg); */
    animation: rotateYperspective 1500ms infinite alternate ease-in-out 2000ms;
}

.section20-picture-perspective.rotate-x {
    /*   transform: rotateX(60deg); */
    animation: rotateXperspective 1500ms infinite alternate ease-in-out 3000ms;
}

.section20-picture-perspective.rotate-y {
    /*   transform: rotateY(60deg); */
    animation: rotateYperspective 1500ms infinite alternate ease-in-out 4000ms;
}

.section20-box-perspective.rotate-x {
    background-color: tomato;
}


.section20-box-perspective.rotate-y {
    background-color: blue;
}

.section20-scene-perspective+.section19-scene-perspective {
    margin-left: 50px;
}

@keyframes rotateXperspective {
    0% {
        transform: perspective(400px) rotateX(0deg);
    }

    100% {
        transform: perspective(400px) rotateX(60deg);
    }
}

@keyframes rotateYperspective {
    0% {
        transform: perspective(400px) rotateY(0deg);
    }

    100% {
        transform: perspective(400px) rotateY(60deg);
    }
}
.section20-scene-many {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 200px;
}

.section20-scene-many-box {
    /* flex-basis: calc((100% - 4*10px) / 5); */
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    /*  We set the perspective for each element separately.  */
    /*   transform: perspective(400px) rotateY(45deg); */
    animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}

.section20-scene-many-box:nth-child(1) {
    background-color: #f44336;
}

.section20-scene-many-box:nth-child(2) {
    background-color: #9c27b0;
}

.section20-scene-many-box:nth-child(3) {
    background-color: #3f51b5;
}

.section20-scene-many-box:nth-child(4) {
    background-color: #03a9f4;
}

.section20-scene-many-box:nth-child(5) {
    background-color: #009688;
}

.section20-scene-many-box:nth-child(6) {
    background-color: #4caf50;
}

.section20-scene-many-box:nth-child(7) {
    background-color: #ffc107;
}

.section20-scene-many-box:nth-child(8) {
    background-color: #795548;
}

.section20-scene-many-box:nth-child(9) {
    background-color: #e91e63;
}

.section20-scene-many-box:nth-child(10) {
    background-color: #af617b;
}

@keyframes rotateY {
    0% {
        transform: perspective(400px) rotateY(60deg);
    }

    100% {
        transform: perspective(400px) rotateY(-60deg);
    }
}

/* section21 */
.section21-scene-many {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 200px;
    /*  Set the perspective of the entire scene.  */
    perspective: 400px;
}

.section21-scene-many-box {
    flex-basis: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 4px;
    transform: rotateY(45deg);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    animation: section21-rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}

.section21-scene-many-box:nth-child(1) {
    background-color: #f44336;
}

.section21-scene-many-box:nth-child(2) {
    background-color: #9c27b0;
}

.section21-scene-many-box:nth-child(3) {
    background-color: #3f51b5;
}

.section21-scene-many-box:nth-child(4) {
    background-color: #03a9f4;
}

.section21-scene-many-box:nth-child(5) {
    background-color: #009688;
}

.section21-scene-many-box:nth-child(6) {
    background-color: #4caf50;
}

.section21-scene-many-box:nth-child(7) {
    background-color: #ffc107;
}

.section21-scene-many-box:nth-child(8) {
    background-color: #795548;
}

.section21-scene-many-box:nth-child(9) {
    background-color: #e91e63;
}

.section21-scene-many-box:nth-child(10) {
    background-color: #d4a9b7;
}

@keyframes section21-rotateY {
    0% {
        transform: perspective(400px) rotateY(60deg);
    }

    100% {
        transform: perspective(400px) rotateY(-60deg);
    }
}

/* section23 */
.section23-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.section23-box-pictures,
.section23-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 75px 15px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section23-box::before {
    display: inline-block;
    font-size: 20px;
}

.pictures1,
.section23-box:nth-child(1) {
    /*   transform: scale(2.00); */
    background-color: orange;
    animation: animate2 6000ms infinite 1000ms;
}


/* .section23-box:nth-child(1)::before {
    content: "scale(2.00)";
} */
.pictures2,
.section23-box:nth-child(2) {
    /*  Original size, default value  */
    /*   transform: scale(1); */
    background-color: #03a9f4;
}

.section23-box:nth-child(2)::before {
    content: "scale(1)";
}

.pictures3,
.section23-box:nth-child(3) {
    /*   transform: scale(0.50); */
    background-color: palevioletred;
    animation: animate50 6000ms infinite 1000ms;
}

.section23-box:nth-child(3)::before {
    content: "scale(0.50)";
}

@keyframes animate2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes animate50 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.50);
    }
    100% {
        transform: scale(1);
    }
}

/* section25 */
.section24-container{
display: flex;
    align-items: center;
    justify-content: center;
}


.section24-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section24-box-pictures {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section24-box::before {
    display: inline-block;
    font-size: 20px;
}

.section24-pictures1,
.section24-box:nth-child(1) {
    /*   transform: rotate(30deg); */
    background-color: orange;
    animation: animate30 6000ms infinite 1000ms;
}

.section24-box:nth-child(1)::before {
    content: "rotate(30deg)";
}

.section24-pictures2,
.section24-box:nth-child(2) {
    /*   transform: rotate(115deg); */
    background-color: #03a9f4;
    animation: animate115 6000ms infinite 2000ms;
}

.section24-box:nth-child(2)::before {
    content: "rotate(115deg)";
}

.section24-pictures3,
.section24-box:nth-child(3) {
    /*   transform: rotate(-45deg); */
    background-color: palevioletred;
    animation: animate45 6000ms infinite 3000ms;
}

.section24-box:nth-child(3)::before {
    content: "rotate(-45deg)";
}

@keyframes animate30 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes animate115 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(115deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes animate45 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* section25 */
.section25-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.section25-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section25-box-pictures {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section25-box::before {
    font-size: 16px;
}

.section25-pictures3,
.section25-box:nth-child(1) {
    /*   transform: translateX(50px); */

    animation: animateX50 6000ms infinite 1000ms;
    background-color: orange;
}

.section25-box:nth-child(1)::before {
    content: "translateX(50px)";
}

.section25-pictures1,
.section25-box:nth-child(2) {
    /*   transform: translateY(110px); */

    animation: animateY110 6000ms infinite 1000ms;
    background-color: #03a9f4;
}

.section25-box:nth-child(2)::before {
    content: "translateY(110px)";
}

.section25-pictures2,
.section25-box:nth-child(3) {
    /*   transform: translate(-50px, -100px); */

    animation: animateX50Y100 6000ms infinite 1000ms;
    background-color: palevioletred;
}

.section25-box:nth-child(3)::before {
    content: "translate(-50px, -100px)";
}

@keyframes animateX50 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes animateY110 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(110px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes animateX50Y100 {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-50px, -100px);
    }
    100% {
        transform: translate(0, 0);
    }
}


/* section26 */
.section26-parent {
    position: relative;
    max-width: 500px;
    height: 300px;
    border: 10px solid #303f9f;
    border-radius: 10px;
    background-color: #3f51b5;
    margin: 0 auto;
}

.section26-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;
    border: 10px solid #ffa000;
    border-radius: 10px;
    background-color: #ffc107;
}

/* section27 */
.section27-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.section27-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section27-box-pictures {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.section27-box::before {
    display: inline-block;
    font-size: 16px;
}
.section27-pictures2,
.section27-box:nth-child(1) {
    /*   transform: skewX(30deg); */

    animation: animateX30 6000ms infinite 1000ms;
    background-color: orange;
}

.section27-box:nth-child(1)::before {
    content: "skewX(30deg)";
}

.section27-pictures3,
.section27-box:nth-child(2) {
    /*   transform: skewY(30deg); */

    animation: animateY30 6000ms infinite 1000ms;
    background-color: #03a9f4;
}

.section27-box:nth-child(2)::before {
    content: "skewY(30deg)";
}

.section27-pictures1,
.section27-box:nth-child(3) {
    /*   transform: skew(30deg, 30deg); */

    animation: animateX30Y30 6000ms infinite 1000ms;
    background-color: palevioletred;
}

.section27-box:nth-child(3)::before {
    content: "skew(30deg, 30deg)";
}

@keyframes animateX30 {
    0% {
        transform: skewX(0deg);
    }

    50% {
        transform: skewX(30deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

@keyframes animateY30 {
    0% {
        transform: skewX(0deg);
    }

    50% {
        transform: skewY(30deg);
    }

    100% {
        transform: skewX(0deg);
    }
}

@keyframes animateX30Y30 {
    0% {
        transform: skew(0deg);
    }

    50% {
        transform: skew(30deg, 30deg);
    }

    100% {
        transform: skew(0deg);
    }
}

/* section28 */
.section28-container {
    max-height: 100vh;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.section28-box {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid tomato;
    border-radius: 4px;
    font-size: 17px;
}

.section28-box::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);

    /*  Анимация  */
    animation: rotateWithOrigin 3000ms linear 1000ms infinite;
}

.section28-box:nth-child(1)::before {
    transform-origin: top left;
}

.section28-box:nth-child(2)::before {
    transform-origin: top center;
}

.section28-box:nth-child(3)::before {
    transform-origin: top right;
}

.section28-box:nth-child(4)::before {
    transform-origin: center left;
}

.section28-box:nth-child(5)::before {
    transform-origin: center center;
}

.section28-box:nth-child(6)::before {
    transform-origin: center right;
}

.section28-box:nth-child(7)::before {
    transform-origin: bottom left;
}

.section28-box:nth-child(8)::before {
    transform-origin: bottom center;
}

.section28-box:nth-child(9)::before {
    transform-origin: bottom right;
}

.section28-box::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background-color: blue;
    border-radius: 50%;
}

.section28-box:nth-child(1)::after {
    top: calc(16px / -2);
    left: calc(16px / -2);
}

.section28-box:nth-child(2)::after {
    top: calc(16px / -2);
    left: center;
}

.section28-box:nth-child(3)::after {
    top: calc(16px / -2);
    right: calc(16px / -2);
}

.section28-box:nth-child(4)::after {
    top: center;
    left: calc(16px / -2);
}

.section28-box:nth-child(5)::after {
    top: center;
    left: center;
}

.section28-box:nth-child(6)::after {
    top: center;
    right: calc(16px / -2);
}

.section28-box:nth-child(7)::after {
    bottom: calc(16px / -2);
    left: calc(16px / -2);
}

.section28-box:nth-child(8)::after {
    bottom: calc(16px / -2);
    left: center;
}

.section28-box:nth-child(9)::after {
    bottom: calc(16px / -2);
    right: calc(16px / -2);
}

@keyframes rotateWithOrigin {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}
/* //section28-pictures */
.section28-container-picture {
    max-height: 100vh;
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.section28-pictures1,
.section28-box-picture {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid tomato;
    border-radius: 4px;
    font-size: 17px;
}

.section28-box-picture::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);

    /*  Анимация  */
    animation: rotateWithOriginPictures 5000ms linear 1000ms infinite;
}

.section28-box-picture1 {
    position: absolute;
    display: inline-block;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);

    /*  Анимация  */
    animation: rotateWithOriginPictures 5000ms linear 1000ms infinite;
    
}
.section28-box-picture1,
.section28-box-picture:nth-child(1)::before {
    transform-origin: top left;
}

.section28-box-picture:nth-child(2)::before {
    transform-origin: top center;
}

.section28-box-picture:nth-child(3)::before {
    transform-origin: top right;
}

.section28-box-picture:nth-child(4)::before {
    transform-origin: center left;
}

.section28-box-picture:nth-child(5)::before {
    transform-origin: center center;
}

.section28-box-picture:nth-child(6)::before {
    transform-origin: center right;
}

.section28-box-picture:nth-child(7)::before {
    transform-origin: bottom left;
}

.section28-box-picture:nth-child(8)::before {
    transform-origin: bottom center;
}

.section28-box-picture:nth-child(9)::before {
    transform-origin: bottom right;
}
.section28-pictures1::after,
.section28-box-picture::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background-color: blue;
    border-radius: 50%;
}
.section28-pictures1::after,
.section28-box-picture:nth-child(1)::after {
    top: calc(16px / -2);
    left: calc(16px / -2);
}

.section28-box-picture:nth-child(2)::after {
    top: calc(16px / -2);
    left: center;
}

.section28-box-picture:nth-child(3)::after {
    top: calc(16px / -2);
    right: calc(16px / -2);
}

.section28-box-picture:nth-child(4)::after {
    top: center;
    left: calc(16px / -2);
}

.section28-box-picture:nth-child(5)::after {
    top: center;
    left: center;
}

.section28-box-picture:nth-child(6)::after {
    top: center;
    right: calc(16px / -2);
}

.section28-box-picture:nth-child(7)::after {
    bottom: calc(16px / -2);
    left: calc(16px / -2);
}

.section28-box-picture:nth-child(8)::after {
    bottom: calc(16px / -2);
    left: center;
}

.section28-box-picture:nth-child(9)::after {
    bottom: calc(16px / -2);
    right: calc(16px / -2);
}

@keyframes rotateWithOriginPictures {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}