*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-background: rgb(84, 110, 255);
    --navigation-background: rgb(210, 230, 190);
    --link-hover-forecolor: rgb(224, 237, 248);
    --section-background: rgb(99, 113, 192);
    --section-boxes: rgb(96, 103, 146);
    --section-margin: rgb(43, 48, 77);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --blue: rgb(0, 0, 255);
    --red: rgb(255, 0, 0);
    --yellow: rgb(255, 255, 0);
}

/* Globalne resetowanie stylow */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto; 
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

span{
    font-weight: 600;
}
body {
    font-family: 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    background: var(--body-background);
    color: rgb(45, 46, 48);
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.container {
    
    width: 1158px;
    margin: 0 auto ;
    padding: 10px;
    border: 2px dashed #493d3d;
}
.img{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    margin: 0 auto;
    text-align: center;
    gap: 10px;
    width: 500px;
    
}
.radius{
border-radius: 14px;
}
.background-color-container-one{
background: rgb(121, 126, 138);
}
.background-color-container-two {
    background: rgb(142, 158, 197);
}
.background-color-container-three {
    background: rgb(140, 167, 235);
}
.background-color-container-four {
    background: rgb(87, 111, 170);
}

.background-color-container-five {
    background: rgb(68, 112, 223);
}

.background-color-container-six {
    background: rgb(33, 76, 185);
    color:#dae99d;
}

.background-color-container-seven {
    background: rgb(9, 63, 201);
    color:#b4bd93;
}

.background-color-container-eight {
    background: rgb(5, 35, 112);
    color:#b4bd93;
}

.background-color-container-nine {
    background: rgb(5, 13, 34);
    color:#b4bd93;
}

.background-color-container-ten {
    background: rgb(37, 99, 255);
    color:#262724;
}

.background-color-container-eleven {
    background: rgb(199, 119, 252);
    color: #262724;
}

.background-color-container-twelve {
    background: rgb(252, 119, 141);
    color: #141611;
}

.background-color-container-thirteen {
    background: rgb(102, 95, 0);
    color: #dcecc2;
}

.list-menu {
    display: flex;
    flex-direction:row;
    justify-content: start;
    gap:10px;
    border-radius: 4px;
    background-color: #2196f3;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.list-submenu {
    display: flex;
    flex-direction: column;
    
    padding: 0 5px;
    border-radius: 4px;
    background-color: #2196f3;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin: 0px auto 10px;
}

 .list-menu .link {
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: #fff;
}

.list-menu .link:hover,
.list-menu .link:focus {
background: #2a2a2a;
color: white;
}

.list-description{
display: flex;
/* flex-direction: column; */
justify-content: space-around;
gap: 10px 20px;
align-items: safe;
/* background-color: #fff; */

        
        /* margin: 0px auto 10px; */
}

.list-item{
    display: flex;
    padding: 5px;
    text-align: center;
/* margin: 10px 0 ; */
    flex-direction: row;
    border-radius: 4px;
    background-color: #e03838;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.section4-flex-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 20px;
    
}
.section4-flex-div2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section4-h3{
    padding: 2px 4px;
    border-radius: 4px;
        background-color: #b49999;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            margin-bottom: 5px;
}
.section4-p {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #664d4d;
    margin-bottom: 5px;
    }

.section4-p2 {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #dae99d;
}

.section4-flex-ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px 20px;
}
.section4-flex-ul :nth-child(even){
    background: teal;
}
.section4-flex-ul :nth-child(odd) {
    color:azure;
    background: rgb(45, 53, 124);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        margin-bottom: 5px;
}
.section4-flex-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px 20px;
    background-color: #dae99d;
}

/* section5 */
.section5-h3 {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #b49999;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin-bottom: 5px;
}

.section5-p {
    margin: 0 auto;
    text-align: center;
    padding: 5px 4px;
    border-radius: 4px;
    background-color: #b49999;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid tomato;
    
}

.section5-flex-ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content:center;
    gap: 10px 20px;
    margin-top: 5px;
    
}


.section5-flex-item {
/* display: flex; */
width: 400px;
padding: 5px 4px;
background-color: #9de9dc;
}

.section5-flex-ul2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content:space-evenly;
    gap: 10px 10px;
    margin-top: 5px;

}

.section5-flex-ul2 li {
    /* width: 250px; */
    flex-basis: calc((100% - 2*10px) / 3);
    padding: 5px 4px;
    background-color: #e99db4;
    
}

/* section6 */
.section6-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
}

/* section7 */
.section7-div{
    display:flex;
    flex-direction: column;
}

.section7-div2{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 10px;
}

.section7-ul{
    display:flex;
    flex-direction: row;
    /* align-items:stretch; */
    column-gap: 10px;
    
    margin-bottom: 10px;
}

.section7-ul li{
flex-basis: calc((100% - 3*10px) / 4);
    padding: 5px 4px;
    background-color: #e99db4;
    text-align: center;
    color:#493d3d;
}

.section7-div3 .text{
text-align: center;
    color:#dfd0d0;
}

/* section8 */
.section8-div{
    min-height: 200px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    /* gap: 20px; */
}

/* section9 */
.section9-div{
    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.section9-div .text{
    margin-bottom: 15px;
}

.section9-ul{
    display:flex;
    flex-direction: row;
    /* align-items:stretch; */
    column-gap: 10px;
    margin-bottom: 10px;
}

.section9-ul li{
flex-basis: calc((100% - 3*10px) / 4);
/* flex-basis: auto; */
    padding: 5px 4px;
    background-color: #b18290;
    text-align: center;
    color:#3d3838;
}


/* section10 */
.section10-div{
    display:flex;
    flex-direction: column;
    align-items:center;
    
}
.section10-ul{
    display:flex;
    flex-direction: row;
    /* align-items:stretch; */
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
        align-items: center;
}

.section10-ul li{
display: flex;
    height: 50px;
flex-grow:1;
justify-content: center;
    align-items: center;
  padding: 20px;
  
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.section10-ul .trzy:hover,
.section10-ul .dwa:hover,
.section10-ul .jeden:hover{
    flex-grow: 2;
    
    
}

.cards-container{
    display: flex;
    gap: 10px;
    justify-content:flex-start;
        
    
}

.card-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #dae99d;
    padding: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
}

.content{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
        margin-bottom: 10px;
        padding: 10px;
        border: 2px dashed tomato;
        border-radius: 4px;
}

.meta{
    padding: 10px;
        text-align: center;
        background-color: teal;
        color: white;
        border-radius: 4px;
}




/* section11 align-self */
.container11{
    display: flex;
    flex-direction: column;
    align-items: center;
        justify-content: center;
        gap: 10px;
}


.section11-cards-container{
    display: flex;
    gap: 10px;
    align-items:stretch;
        
}

.section11-card-container {
display: flex;
    /* align-items:flex-start; */
    justify-content: center;
    gap: 10px;
    width: 50%;
    border: 2px solid rgb(71, 255, 141);
    padding: 10px;
}

.section11-img1{
align-self:stretch;
}

.section11-img2 {
align-self:center;
}

/* section12 order */
.container12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section12-list{
    display: flex;
    gap: 10px;
    
}

.section12-list >li{
display: flex;
align-items: center;
    justify-content: center;
    background: blue;
color:white;
    border: 2px solid yellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.section12-order{
    order: -1;
}


/* section13 zajęcia */
.section13-wrapper{
width: 100%;

margin: 0 auto;
}

.section13-flex-container {
height: 400px;
    display: flex;
background: white;
justify-content:space-evenly;
align-items:center;
/* flex-wrap: wrap; */
align-content: start;
gap:10px;
}

.section13-box {
height: 100px;
min-width: 100px;
font-size: 25px;
font-weight: 700;

}

.section13-flex-container :nth-child(1) {
color:greenyellow;
background: red;
flex-basis: 100px;
flex-grow: 1;
align-self: center;
}

.section13-flex-container :nth-child(2) {
    color:rgb(255, 0, 85);
    background-color: yellow;
    flex-grow: 2;
    align-self: flex-start;
    
}
.section13-flex-container :nth-last-child(1) {
    color:black;
    background: blue;
    flex-grow: 1;
    align-self: flex-end;
}























/* Footer */
.footer {
    background: #301212;
    
    padding: 10px 0;
    color: cornsilk;
}

.contener-shadow-text2 {
    color: var(--white);
    text-shadow: 2px 2px 8px var(--white);

}
.link-footer {
    display: inline-block;
}

.display-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    text-align: center;

}

.display-footer2 {
    display: flex;
    text-align: center;
}

.footer-selection::selection {
    color: var(--white);
    text-shadow: 2px 2px 8px var(--white);
    background: var(--black);
}